<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <td>Tittle:</td>
        <td>Description:</td>
        <td>Brand:</td>
        <td>Start:</td>
        <td>End:</td>
        <td>customerID:</td>
    </tr>
    <tr th:each="campaigns : ${campaigns}">
        <td th:text="${campaigns.tittle}"</td>
        <td th:text="${campaigns.description}"</td>
        <td th:text="${campaigns.brand}"</td>
        <td th:text="${campaigns.start}"</td>
        <td th:text="${campaigns.end}"</td>
        <td th:text="${campaigns.customerID}"</td>
    </tr>

</table>

<form th:action="@{/logout}" method="POST">
    <input type="submit" value="Logout"/>
</form>
</body>
</html>